@{ 
    ViewBag.Title = "Agriculture";
}
<div>
    <marquee behaviour="slide" scrolldelay="10ms" bgcolor="white"
             direction="right">
        <img src="~/Images/images.jpg" width="800" height="100" align="middle"
             alt="doesnot support" />
    </marquee>
</div>
<br /><br />

<div>
    <h1 align="center">Agriculture</h1>
    <div>

        <img class="img-circle" style="float:left;" src="~/Images/far.jpg" width="300" height="300" /><br /><br /><br />


        <p style="margin-left:400px;">
            Agriculture is the back bone of indian economy so our first step twords agriculture development .
            this project helps farmers to know about different seeds ,machines,fertilizers and how to make use of it it 
            leads to the better development of the agriculture Agriculture is the cultivation and breeding of animals, 
            plants and fungi for food, fiber, biofuel, medicinal plants and other products used to sustain and enhance human
            life.
        </p>

       
        <img class="img-circle" style="float:right;margin-top:200px;" src="~/Images/download.jpg" width="300" height="300" /><br /><br /><br />


        <p style="margin-top:200px;">
            Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated
             species created food surpluses that nurtured the development of civilization. The study of agriculture is known
             as agricultural science. The history of agriculture dates back thousands of years, and its development has been
             driven and defined by greatly different climates, cultures, and technologies. Industrial agriculture based on
             large-scale monoculture farming has become the dominant agricultural methodology.
        </p>
</div>
</div>