@{ 
    ViewBag.Title = "Cow cattle";
}

<br /><br />

<div>
    <h1 align="center">Dairy cattle</h1>
    <img src="~/Images/c1.jpg" width="300" height="300" class="img-circle" style="float:left"/><br /><br /><br />
    <p style="margin-left:400px;">
        Cattle colloquially cows are the most common type of large domesticated ungulates. They are a prominent modern member of the
         subfamily Bovinae, are the most widespread species of the genus Bos, and are most commonly classified collectively as Bos taurus. 
        Cattle are raised as livestock for meat (beef and veal), as dairy animals for milk and other dairy products, and as draft animals 
        (oxen or bullocks that pull carts, plows and other implements). Other products include leather and dung for manure or fuel. In some
         regions, such as parts of India, cattle have significant religious meaning. From as few as 80 progenitors domesticated in southeast 
        Turkey about 10,500 years ago,[1] according to an estimate from 2011, there are 1.4 billion cattle in the world.[2] In 2009, cattle 
        became one of the first livestock animals to have a fully mapped genome.[3] Some consider cattle the oldest form of wealth, and 
        cattle raiding consequently one of the earliest forms of theft.
    </p>

    <img src="~/Images/c111111.jpg" width="300" height="300" class="img-circle" style="float:right;margin-top:150px;"/>
    <p style="margin-top:200px;">
        Dairy cattle (also called dairy cows or milk cows) are cattle cows bred for the ability to produce large quantities of milk,
         from which dairy products are made. Dairy cows generally are of the species Bos taurus. Historically, there was little distinction 
        between dairy cattle and beef cattle, with the same stock often being used for both meat and milk production. Today, the bovine industry
         is more specialized and most dairy cattle have been bred to produce large volumes of milk. The United States dairy herd produced 83.9 
        billion kg (185 billion lbs) of milk in 2007, up from 52.6 billion kg (116 billion lbs) in 1950, yet there were only about 9 
        million cows on U.S. dairy farms—about 13 million fewer than there were in 1950.[3] The top breed of dairy cow within Canada's 
        national herd category is Holstein, taking up 93% of the dairy cow population, have an annual production rate of 10 257 kg of milk 
        per cow that contains 3.9% butter fat and 3.2% protein
    </p>
    <h1 align="center" style="margin-top:150px;margin-bottom:30px;">Management</h1>
    <p>
        Dairy cows may be found either in herds or dairy farms where dairy farmers own, manage, care for, and collect milk from them, or 
        on commercial farms. Herd sizes vary around the world depending on landholding culture and social structure. The United States has 
        9 million cows in 75,000 dairy herds, with an average herd size of 120 cows. The number of small herds is falling rapidly with the 
        3,100 herds with over 500 cows producing 51% of U.S. milk in 2007.[5] The United Kingdom dairy herd overall has nearly 1.5 million 
        cows, with about 100 head reported on an average farm.[6] In New Zealand, the average herd has more than 375 cows, while in Australia,
         there are approximately 220 cows in the average herd.
    </p>
    <p>
        Pasteurization is the process of heating milk to a high enough temperature for a short period of time to kill the microbes in the 
        milk and increase keep time and decrease spoilage time by killing the microbes, decrease the transmission of infection and eliminates
         enzymes that reduce the quality and shelf life Pasteurization is either completed at 63 °C for 30 minutes or a flash pasteurization 
        is completed for 15 seconds at 72 °C
    </p>
    <p>
        To maintain lactation, a dairy cow must be bred and produce calves. Depending on market conditions, the cow may be bred with a 
        "dairy bull" or a "beef bull." Female calves (heifers) with dairy breeding may be kept as replacement cows for the dairy herd. 
        If a replacement cow turns out to be a substandard producer of milk, she then goes to market and can be slaughtered for beef. 
        Male calves can either be used later as a breeding bull or sold and used for veal or beef. Dairy farmers usually begin breeding 
        or artificially inseminating heifers around 13 months of age.[10] A cow's gestation period is approximately nine months.
        Newborn calves are removed from their mothers quickly, usually within three days, as the mother/calf bond intensifies over time 
        and delayed separation can cause extreme stress on both cow and calf
    </p>
    <p>
        Domestic cows can live to 20 years; however, those raised for dairy rarely live that long, as the average cow is removed from the
         dairy herd around age four and marketed for beef.[11][13] In 2014, approximately 9.5% of the cattle slaughtered in the U.S. were
         culled dairy cows: cows that can no longer be seen as an economic asset to the dairy farm.[14] These animals may be sold due to 
        reproductive problems or common diseases of milk cows such as mastitis and lameness.
    </p>
    <h1 align="center" style="margin-bottom:30px;margin-top:50px;">Milk Production Levels</h1>
    <p>
        A cow will produce large amounts of milk over its lifetime. Certain breeds produce more milk than others; however, different breeds 
        produce within a range of around 6,800 to 17,000 kg (15,000 to 37,500 lbs) of milk per lactation. The Holstein Friesian is the main 
        breed of dairy cattle in Australia, and said to have the "world's highest" productivity, at 10000L of milk per year.[17] The average 
        for a single dairy cow in the US in 2007 was 9164.4 kg (20,204 lbs) per year, excluding milk consumed by her calves,[2] whereas the 
        same average value for a single cow in Israel was reported in the Philippine press to be 12,240 kg in 2009.[18] Production levels peak 
        at around 40 to 60 days after calving.[19] The cow is then bred. Production declines steadily afterwards, until, at about 610 days after
         calving, the cow is 'dried off', and milking ceases. About sixty days later, one year after the birth of her previous calf, a cow will
         calve again. High production cows are more difficult to breed at a two-year interval. Many farms take the view that 24 or even 36 month
         cycles are more appropriate for this type of cow.
    </p>
    <h1 align="center" style="margin-bottom:30px;margin-top:50px;"> Production </h1>
    <p>
        Cattle rearing involves the breeding, birthing and general care of cattle, whether beef cattle or dairy cattle, sheep, goat etc. 
        There are some advantages and disadvantages to the environment from rearing these livestock. The major advantage is the cattle are
         reared all over where as they are deemed to be wonderful food source(milk, cheese, butter, meat) and for their hides, used in leather 
        working. Cattle rearing (animal husbandry) is a component of modern agriculture. These livestock are generally reared to gain profit. 
        The economics value of livestock includes meat, which has several by-products such as cheese, ice cream, yoghurt, butter etc. Fibre 
        is another economical value, where the livestock produce fibre/textiles, sheep, cows and deer skin are used to make leather and sheep
         and goats produce wool and mohair. Land management which is away of weed control and undergrowth, cause from these livestock(cattle).
         For example goats and sheep are used to decrease wild bush fire by eating down the dry scrub which remove combustible material thus 
        reducing the risk of these fires. And finally fertiliser(manure) helps to increase the yield of crops. This is also used as fuel for
         fires, and plaster for walls and floor. Although there are so much advantages of cattle rearing, there are some disadvantages as well.
         Some of these disadvantages are land degradation, deforestation, air pollution, water shortage, climate changes, water pollution and 
        loss of biodiversity.
    </p>
</div>