@{ 
    ViewBag.Title = "DripIrrigation";
}
<br /><br />
<div>
    <h1 align="center">Drip irrigation</h1>
    <div>

        <img class="img-circle" style="float:left;" src="~/Images/drip1.jpg" width="300" height="300" /><br /><br /><br />


        <p style="margin-left:400px;">
            Drip (or micro) irrigation, also known as trickle irrigation, functions as its name suggests. In this system water falls 
            drop by drop just at the position of roots. Water is delivered at or near the root zone of plants, drop by drop. This method
             can be the most water-efficient method of irrigation,[29] if managed properly, since evaporation and runoff are minimized.
             The field water efficiency of drip irrigation is typically in the range of 80 to 90 percent </p>

           <p style="margin-left:400px;">In modern agriculture, drip irrigation is often combined with plastic mulch, further reducing evaporation, and is also 
        the means of delivery of fertilizer. The process is known as fertigation. managed correctly.
        </p>


        <img class="img-circle" style="float:right;margin-top:200px;" src="~/Images/drip2.jpg" width="300" height="300" /><br /><br /><br />


        <p style="margin-top:200px;">
            Deep percolation, where water moves below the root zone, can occur if a drip system is operated for too long or if the delivery
             rate is too high. Drip irrigation methods range from very high-tech and computerized to low-tech and labor-intensive. Lower 
            water pressures are usually needed than for most other types of systems, with the exception of low energy center pivot systems
             and surface irrigation systems, and the system can be designed for uniformity throughout a field or for precise water delivery
             to individual plants in a landscape containing a mix of plant species. Although it is difficult to regulate pressure on steep 
            slopes, pressure compensating emitters are available, so the field does not have to be level. High-tech solutions involve 
            precisely calibrated emitters located along lines of tubing that extend from a computerized set of valves.
        </p>

        <h1 align="center" style="margin-top:200px;margin-bottom:30px;">Advantages</h1>
        <p>    1. Fertilizer and nutrient loss is minimized due to localized application and reduced leaching.</p>
        <p>    2. Water application efficiency is high if managed correctly</p>
        <p>    3. Field levelling is not necessary.</p>
        <p>    4. Fields with irregular shapes are easily accommodated.</p>
        <p>    5. Recycled non-potable water can be safely used.</p>
        <p>    6. Moisture within the root zone can be maintained at field capacity.</p>
        <p>    7. Soil type plays less important role in frequency of irrigation.</p>
        <p>    8. Soil erosion is lessened.</p>
        <p>    9. Weed growth is lessened.</p>
        <p>    10. Water distribution is highly uniform, controlled by output of each nozzle.</p>
        <p>    11. Labour cost is less than other irrigation methods.</p>
        <p>    12. Variation in supply can be regulated by regulating the valves and drippers.</p>
        <p>    13. Fertigation can easily be included with minimal waste of fertilizers.</p>
        <p>    14. Foliage remains dry, reducing the risk of disease.</p>
        <p>    15. Usually operated at lower pressure than other types of pressurised irrigation, reducing energy costs.</p>

        <h1 align="center" style="margin-top:80px;">Disadvantages</h1>
        <p> 1. Initial cost can be more than overhead systems.</p>
        <p>    2. The sun can affect the tubes used for drip irrigation, shortening their usable life. (This article does not include a 
        discussion of the effects of degrading plastic on the soil content and subsequent effect on food crops. With many types
         of plastic, when the sun degrades the plastic, causing it to become brittle, the estrogenic chemicals 
        (that is, chemicals replicating female hormones) which would cause the plastic to retain flexibility have been released 
        into the surrounding environment.)</p>
         <p>   3. If the water is not properly filtered and the equipment not properly maintained, it can result in 
        clogging or bioclogging.</p>
          <p>  4. For subsurface drip the irrigator cannot see the water that is applied. This may lead to the farmer either applying too much water (low efficiency) or an insufficient amount of water, this is particularly common for those with less experience with drip irrigation.</p>
          <p>  5. Drip irrigation might be unsatisfactory if herbicides or top dressed fertilizers need sprinkler irrigation for activation.</p>
          <p>  6. Drip tape causes extra cleanup costs after harvest. Users need to plan for drip tape winding, disposal, recycling or reuse.</p>
           <p> 7. Waste of water, time and harvest, if not installed properly. These systems require careful study of all the relevant factors like land topography, soil, water, crop and agro-climatic conditions, and suitability of drip irrigation system and its components.</p>
           <p> 8. In lighter soils subsurface drip may be unable to wet the soil surface for germination. Requires careful consideration of the installation depth.</p>
           <p> 9. most drip systems are designed for high efficiency, meaning little or no leaching fraction. Without sufficient leaching, salts applied with the irrigation water may build up in the root zone, usually at the edge of the wetting pattern. On the other hand, drip irrigation avoids the high capillary potential of traditional surface-applied irrigation, which can draw salt deposits up from deposits below.</p>
           <p> 10. the PVC pipes often suffer from rodent damage, requiring replacement of the entire tube and increasing expenses.</p>
           <p> 11. Drip irrigation systems cannot be used for damage control by night frosts (like in the case of sprinkler irrigation systems)</p>

        <h1 align="center"  style="margin-top:80px;">Uses</h1>
        <p>1. Drip irrigation is used in farms, commercial greenhouses, and residential gardeners. Drip irrigation is adopted extensively in areas of acute water scarcity and especially for crops and trees such as coconuts, containerized landscape trees, grapes, bananas, pandey, eggplant, citrus, strawberries, sugarcane, cotton, maize, and potatoes.</p>
     <p>
         2. Drip irrigation for garden available in drip kits are increasingly popular for the homeowner and consist of a timer, hose and emitter. Hoses that are 4 mm in diameter are used to irrigate flower pots.
    </p>
     </div>
</div>