@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AGRICULTURE</h1>
    <p class="lead">	<p style="color:black">
        Agriculture is the back bone of indian
        economy so our first step twords agriculture development .this
        project helps farmers to know about different seeds
        ,machines,fertilizers and how to make use of it it leads to the
        better development of the agriculture Agriculture is the cultivation
        and breeding of animals, plants and fungi for food, fiber, biofuel,
        medicinal plants and other products used to sustain and enhance human
        life.
    </p>
    <p><a href="@Url.Action("Agriculture","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Irrigation</h2>
        <p>
            Irrigation is the method in which a controlled amount of water is supplied to plants at regular intervals for agriculture.
            It is used to assist in the growing of agricultural crops, maintenance of landscapes.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Irrigation","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Poultry</h2>
        <p>
            Poultry farming is the raising of domesticated birds such as chickens, ducks, turkeys and geese
            for the purpose of farming meat or eggs for food. Poultry are farmed in great numbers with chickens being the most
            numerous.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Poultry","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sericulture</h2>
        <p>
            Sericulture, or silk farming, is the cultivation of silkworms to produce silk. Although there are several commercial
            species of silkworms, Bombyx mori (the caterpillar of the domesticated silk moth) is the most widely used.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Sericulture","Home")">Learn more &raquo;</a></p>
    </div>
</div>