@{
    ViewBag.Title = "Poultry";
}
<br />
<div>
    <h1 align="center">POULTRY FARMING</h1>
</div>
<br /><br />
<div>
    <img src="~/Images/download1.jpg" width="300" height="300" class="img-circle" style="float:left" /><br /><br /><br />
    <p style="margin-left:400px;">Poultry farming is the raising of domesticated birds such as chickens, ducks, turkeys and geese
     for the purpose of farming meat or eggs for food. Poultry are farmed in great numbers with chickens being the most numerous. 
    More than 50 billion chickens are raised annually as a source of food, for both their meat and their eggs. Chickens raised for eggs are usually 
    called layers while chickens raised for meat are often called broilers. In the US, the national organization overseeing
     poultry production is the Food and Drug</p>
    
    <h1 align="center" style="margin-top:220px;margin-bottom:80px;">
        Egg-laying chickens husbandry systems
    </h1>
    <img src="~/Images/egg.jpg" width="300" height="300" class="img-circle" style="float:right;" /><br /><br /><br />
    <p>Commercial hens usually begin laying eggs at 16–20 weeks of age, although production gradually declines soon after from
     approximately 25 weeks of age. This means that in many countries, by approximately 72 weeks of age, flocks are considered 
    economically unviable and are slaughtered after approximately 12 months of egg production, although chickens will naturally 
    live for 6 or more years. In some countries, hens are force moulted to re-invigorate egg-laying. Environmental conditions
     are often automatically controlled in egg-laying systems. For example, the duration of the light phase is initially 
    increased to prompt the beginning of egg-laying at 16–20 weeks of age and then mimics summer day length which stimulates 
    the hens to continue laying eggs all year round; normally, egg production occurs only in the warmer months. Some commercial 
    breeds of hen can produce over 300 eggs a year</p>

    <h1 style="margin-top:170px;margin-bottom:30px;" align="center">Free Range</h1>
    <p>Free-range poultry farming allows chickens to roam freely for a period of the day, although they are usually confined in 
    sheds at night to protect them from predators or kept indoors if the weather is particularly bad. In the UK, the Department 
    for Environment, Food and Rural Affairs (Defra) states that a free-range chicken must have day-time access to open-air runs 
    during at least half of its life. Unlike in the United States, this definition also applies to free-range egg laying hens. 
    The European Union regulates marketing standards for egg farming which specifies a minimum condition for free-range eggs that
     "hens have continuous daytime access to open-air runs, except in the case of temporary restrictions imposed by veterinary 
    authorities". The RSPCA "Welfare standards for laying hens and pullets" indicates that the stocking rate must not exceed
     1,000 birds per hectare (10 m2 per hen) of range available and a minimum area of overhead shade/shelter of 8 m2 per 1,000 
    hens must be provided.</p>
    <p>
        Free-range farming of egg-laying hens is increasing its share of the market. Defra figures indicate that 45% of eggs
         produced in the UK throughout 2010 were free-range, 5% were produced in barn systems and 50% from cages. This compares
         with 41% being free-range in 2009.
    </p>

    <h1 style="margin-bottom:30px;margin-top:60px;" align="center">Organic</h1>
    <p>In organic egg-laying systems, chickens are also free-range. Organic systems are based upon restrictions on the routine
     use of synthetic yolk colourants, in-feed or in-water medications, other food additives and synthetic amino acids, and a 
    lower stocking density and smaller group sizes.[citation needed] The Soil Association standards used to certify organic 
    flocks in the UK, indicate a maximum outdoors stocking density of 1,000 birds per hectare and a maximum of 2,000 hens in 
    each poultry house. In the UK, organic laying hens are not routinely beak-trimmed.</p>

    <h1 style="margin-bottom:30px;margin-top:60px;" align="center">Battery Cage</h1>
    <p>
        The majority of hens in many countries are reared in battery cages, although the European Union Council Directive 
        1999/74/EC has banned the conventional battery cage in EU states from January 2012. These are small cages, usually 
        made of metal in modern systems, housing 3 to 8 hens. The walls are made of either solid metal or mesh, and the floor
         is sloped wire mesh to allow the faeces to drop through and eggs to roll onto an egg-collecting conveyor belt. Water 
        is usually provided by overhead nipple systems, and food in a trough along the front of the cage replenished at regular
         intervals by a mechanical chain.
    </p>
    <p>
        The cages are arranged in long rows as multiple tiers, often with cages back-to-back (hence the term 'battery cage').
         Within a single shed, there may be several floors containing battery cages meaning that a single shed may contain many
         tens of thousands of hens. Light intensity is often kept low (e.g. 10 lux) to reduce feather pecking and vent pecking.
         Benefits of battery cages include easier care for the birds, floor eggs which are expensive to collect are eliminated,
         eggs are cleaner, capture at the end of lay is expedited, generally less feed is required to produce eggs, broodiness
         is eliminated, more hens may be housed in a given house floor space, internal parasites are more easily treated, and
         labor requirements are generally much reduced.
    </p>
    <h1 style="margin-bottom:30px;margin-top:60px;" align="center">Advantages</h1>
    <p>1. One of the major advantages of intensive farming is that its yield is high.</p>
    <p>2. With the introduction of intensive farming, the farm produce such as vegetables, fruits and poultry products have become 
    less expensive. This means that poor people can afford a balanced and nutritious diet. Many opine, organic food is affordable
     only to the rich and the elite strata of the society. </p>
    <p>3. Apart from that, large farming spaces are required to cultivate organic crops using natural manure. However, with the
     introduction of intensive farming, the space requirement for farming is less. nother advantage of intensive farming is that
     large productivity of food is possible with less amount of land. This would help to meet the ever-growing demand for food 
    supplies. Compared to the disadvantages, the advantages of intensive farming are less.</p>

    <h1 style="margin-bottom:30px;margin-top:60px;" align="center">Disadvantages</h1>
    <p>1. Remember, intensive farming involves the usage of various kinds of chemical fertilizers, pesticides and insecticides.
     Apart from this, intensive farming is also associated with farms that keep livestock above their holding capacity and this 
    could lead to pollution and various diseases. </p>
    <p>2. Reports and studies reveal intensive farming affects and alters the environment in multiple ways. Forests are destroyed 
    to create large open fields and this could lead to soil erosion.</p>
    <p>3. Intensive farming affects the natural habitats in the forests. Use of chemical fertilizers contaminates water bodies 
    such as lakes and rivers near the farming land. The pesticides sprayed on crops not only destroy pests and contaminate the 
    crops but also kill good insects</p>
</div>