@{ 
    ViewBag.Title = "sheep Farming";
}

<br /><br />
<div>
    <h1 align="center">Sheep farming</h1>
    <img src="~/Images/s111.jpg" width="300" height="300" style="margin-left:420px;margin-top:30px;" class="img-circle" /><br /><br />
    <p>Sheep rearing is the raising and breeding of domestic sheep. It is a branch of animal husbandry. Sheep are raised principally for 
    their meat (lamb and mutton), milk (sheep's milk), and fiber (wool). They also yield sheepskin and parchment. Sheep can be raised in 
    range of temperate climates, including arid zones. Farmers build fences, housing, shearing sheds and other facilities on their property, 
    such as for water, feed, transport and pest control. Most farms are managed so sheep can graze pastures, sometimes under the control of 
    a shepherd or sheep dog. The major sources of income for a farm will come from the sale of lambs and the shearing of sheep for their wool. 
    Farmers can select from various breeds suitable for their region and market conditions. When the farmer sees that a ewe (female adult) is 
    showing signs of heat or estrus, they can organise for mating with males. New born lambs are typically subject to tail docking and males 
    may be castrated. Sheep production worldwide</p>
    <p>
        According to the FAOSTAT database of the United Nations Food and Agriculture Organization, the top five countries by number of heads
         of sheep (average from 1993 to 2013) were: mainland China (146.5 million heads), Australia (101.1 million), India (62.1 million), 
        Iran (51.7 million), and the former Sudan (46.2 million).[2] In 2013, the five countries with the largest number of heads of sheep 
        were mainland China (175 million), Australia (75.5 million), India (53.8 million), the former Sudan (52.5 million), and Iran 
        (50.2 million). In 2013, the number of heads of sheep were distributed as follows: 44% in Asia, 28.2% in Africa; 11.2% in Europe,
         9.1% in Oceania, 7.4% in the Americas.[2] The top producers of sheep meat (average from 1993 to 2013) were as follows: mainland 
        China (1.6 million); Australia (618,000), New Zealand (519,000), the United Kingdom (335,000), and Turkey (288,857).[2] The top f
        ive producers of sheep meat in 2013 were mainland China (2 million), Australia (660,000), New Zealand (450,000), the former Sudan 
        (325,000), and Turkey (295,000) U.S. sheep production
    </p>
</div>