@{ 
    ViewBag.Title = "SprinklerIrrigation";
}

<br /><br />
<div>
    <h1 align="center">Sprinkler irrigation</h1>
    <div>

        <img class="img-circle" style="float:left;margin-top:60px;" src="~/Images/i1.jpg" width="300" height="300" /><br /><br /><br />


        <p style="margin-left:400px;">
            In sprinkler or overhead irrigation, water is piped to one or more central locations within the field and distributed by
             overhead high-pressure sprinklers or guns. A system utilizing sprinklers, sprays, or guns mounted overhead on permanently 
            installed risers is often referred to as a solid-set irrigation system. Higher pressure sprinklers that rotate are called 
            rotors an are driven by a ball drive, gear drive, or impact mechanism. Rotors can be designed to rotate in a full or partial 
            circle. Guns are similar to rotors, except that they generally operate at very high pressures of 40 to 130 lbf/in² (275 to 900 kPa)
             and flows of 50 to 1200 US gal/min (3 to 76 L/s), usually with nozzle diameters in the range of 0.5 to 1.9 inches (10 to 50 mm). 
            Guns are used not only for irrigation, but also for industrial applications such as dust suppression and logging.
        </p>

        <p style="margin-left:400px;">
            Sprinklers can also be mounted on moving platforms connected to the water source by a hose. Automatically moving wheeled systems 
            known as traveling sprinklers may irrigate areas such as small farms, sports fields, parks, pastures, and cemeteries unattended.
             Most of these utilize a length of polyethylene tubing wound on a steel drum. As the tubing is wound on the drum powered by the 
            irrigation water or a small gas engine, the sprinkler is pulled across the field. When the sprinkler arrives back at the reel the 
            system shuts off. This type of system is known to most people as a "waterreel" traveling irrigation sprinkler and they are used
             extensively for dust suppression, irrigation, and land application of waste water.
        </p>



        <h1 align="center" style="margin-top:200px;margin-bottom:30px;">Advantages</h1>
        <p>    1. Expansive land leveling is not required. </p>
        <p>    2. Water saving irrigation intensity can be changed in accordance with the infiltration capacity of soil. </p>
        <p>    3. High efficiency due to uniform water distribution.</p>
        <p>    4. No special skills trained personal can operate the system reasonably well.</p>
        <p>    5. Ease and uniform application of fertilizers and pesticides through irrigation system.</p>
        <p>    6. Possibility of applying minute quantity of water for germination and other irrigation systems.</p>
        <p>    7. Frequent and light irrigation possible giving better response from the crops.</p>
        <p>    8. Increase in yield and quality, early ripening, water conservation and alternative value of specific period saving of labor, machinery, fertilizer and pesticides. </p>
        <p>    9. Soil moisture is maintained at optimum level by sprinkler irrigation and 20 higher yields are obtained of crops and the quality of other crops is also good.</p>
        

        <h1 align="center" style="margin-top:80px;">Disadvantages</h1>
        <p>    1. Higher initial cost.</p>
        <p>    2. High and continuous energy requirement for operation.</p>
        <p>    3. Under high wind condition and high temperature distribution and application efficiency is poor.</p>
        <p>    4. Highly saline water 7mm hos/cm causes leaf burning when temperature higher than 95 F.</p>
        <p>    5. When lands have been already leveled and developed for surface or other irrigation methods</p>
        <p>    6. sprinkler irrigation is not so economical.</p>
        <p>    7. Loss of water due to evaporation from the area during irrigation.</p>
        <p>    8. Above canopy sprinkling may cause washing of spray, materials and aggravate the incidence of pests and diseases</p>
        
        <h1 align="center" style="margin-top:80px;">Uses</h1>
        <p>
            1. Most irrigation sprinklers are used as part of a sprinkler system, consisting of various plumbing parts, pump unit,
             piping and control equipment. Outdoor sprinkler systems are sometimes used as a deterrent against homeless people. 
        </p>
        <p>
            2. This sprinkler system was programmed to drench unsuspecting sleepers at random times during the night. 
            Local businessmen soon copied this system in an effort to drive homeless people away from public sidewalks adjacent to their businesses.
        </p>
    </div>
</div>